$background-main: #ffffff;
$text-light: #ffffff;
$dark-1: rgba(16, 16, 16, 1);
$gray-1: rgba(243, 243, 243, 1);
$gray-2: rgba(134, 134, 134, 1);
$gray-500: rgba(73, 73, 73, 1);
$footer-bg: rgba(226, 190, 255, 1);
